---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";

let blogs = await Astro.glob("../../pages/blog/*.mdx");
---

<Layout
  title="Blog - Vatsal Sakariya"
  description="Vatsal Sakariya's blogs"
  keywords="Portfolio, Web Development, Projects, Blogs"
>
  <main class="container space-y-2 py-12 lg:space-y-4 lg:py-24">
    <section class="prose prose-zinc dark:prose-invert lg:prose-lg">
      <h1>Writing on software design, company building, and the aerospace industry.</h1>
      <p>
        All of my long-form thoughts on programming, leadership, product design, and more, collected
        in one place.
      </p>
    </section>
    <section class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
      {
        blogs.map((blog) => (
          <Card
            type="blog"
            title={blog.frontmatter.title}
            excerpt={blog.frontmatter.excerpt}
            cover={blog.frontmatter.cover}
            createdAt={blog.frontmatter.createdAt}
            minutesRead={blog.frontmatter.minutesRead}
            collection={blog.frontmatter.collection}
            href={blog.url ?? "/"}
          />
        ))
      }
    </section>
  </main>
</Layout>
