---
import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Frontmatter {
  title: string;
  excerpt: string;
  cover: string;
  createdAt: string;
  keywords: string;
  collection: string;
  minutesRead: string;
}

export interface Props {
  frontmatter: Frontmatter;
}

const {
  frontmatter: { title, excerpt, cover, createdAt, keywords, minutesRead },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
  <Head
    title={title}
    description={excerpt}
    keywords={keywords}
    image={`https://vatsalsakariya.vercel.app${cover}`}
  />
  <body
    class="flex min-h-full flex-col bg-white subpixel-antialiased transition-colors duration-300 dark:bg-zinc-900"
  >
    <header class="print:hidden">
      <Navbar />
    </header>
    <main class="container py-12 lg:py-24">
      <p class="mx-auto mb-2 max-w-prose lg:mb-4 lg:text-lg">
        <span
          class="border-l-2 border-zinc-200 pl-2 text-sm font-light text-zinc-600 dark:border-zinc-600 dark:text-zinc-400 lg:text-base"
        >
          {createdAt} &bull; {minutesRead}
        </span>
      </p>
      <article
        class="prose prose-zinc mx-auto prose-a:font-medium prose-a:decoration-blue-600 prose-a:underline-offset-4 hover:prose-a:decoration-2 prose-pre:rounded-lg prose-img:aspect-video prose-img:w-full prose-img:rounded-lg prose-img:object-cover dark:prose-invert dark:prose-a:decoration-blue-400 lg:prose-lg"
      >
        <section>
          <h1 class="text-blue-600 dark:text-blue-400">
            {title}
          </h1>
          <p>
            {excerpt}
          </p>
        </section>
        <img
          src={cover}
          alt={title}
          class="border border-zinc-200 shadow-lg dark:border-zinc-600"
        />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
